.navContainer{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black; 
}

.aLink{
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20%;
    &:hover{
      transform: scale(1.1);
    }
}
 .cartWidgetContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .cartIcon{
    width: 2rem;
    margin-right: 7px;
 }
 .cartCounter{
    color: red;
 }

 .cardsGalery{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 15px 20px;
   width: auto;
 }
 .greeting{
  display:flex;
  justify-content: center;
 }

 .card{
  margin: 10px 15px;
  border: solid 2px black;
  border-radius:0 0 10% 10%;
  max-width: 300px;
 }
 .btn-add-card{
  transform: translate(40px,0px);
 }
 .activator{
  overflow: hidden;
 }
 .card-image{
  border-bottom: solid 2px black;
 }
 .subtittle{
  margin-left: 100px;
 }
