.navContainer{
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: black; 
}

.aLink{
    color: white;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20%;
    &:hover{
      transform: scale(1.1);
    }
}
 .cartWidgetContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .cartIcon{
    width: 2rem;
    margin-right: 7px;
 }
 .cartCounter{
    color: red;
 }

 .ItemListDiv{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 20px; 
  padding: 10px; 
 }

 .greeting{
  display:flex;
  justify-content: center;
 }

 .card{
  margin: 10px 15px;
  border: solid 2px black;
  border-radius:0  10% 0 10%;
  width: 300px;
  height: auto;
  overflow: hidden;
  &:hover{
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 2px ;
  }
 }

 .card-image{
  border-bottom: solid 2px black;
 }
 .logoNav{
   height: 100px;
 }
 .cardImagen{
  max-width: 300px;
 }
 .detalleProducto{
  display: flex;
  flex-direction: column;
  align-content:center ;
  img{
    width: 300px;
  }
 }
 .detalleContenedor{
  display: flex;
  justify-content: center;
 }